@using Microsoft.AspNet.Identity
@model IEnumerable<LearningSystem.Models.View.Course.CreateVM>

@{
    ViewBag.Title = "Index";
}

<h2>List of courses</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Course")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @Html.ActionLink(item.Name, "Details", new { name = item.Name })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            @if (item.EndDate < DateTime.Now)
            {
                <td>Finished</td>
            }
            else if (item.StartDate < DateTime.Now)
            {
                <td>Started</td>
            }
            else if (Request.IsAuthenticated && !item.Students.Any(x => x.User.Email == User.Identity.Name))
            {
                <td>
                    @Html.ActionLink("Sign in", "Signin", new { name = item.Name })
                </td>
            }
            else if (Request.IsAuthenticated && item.Students.Any(x => x.User.Email == User.Identity.Name))
            {
                <td>
                    @Html.ActionLink("Sign out", "Signout", new { name = item.Name })
                </td>
            }
            else
            {
                <td></td>
            }


        </tr>
    }

</table>
